.contenedorCompeticiones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* Para que las tarjetas se ajusten a la pantalla en dispositivos pequeños */
}

.tarjeta {
    width: 100%;

    /* ajusta el ancho según sea necesario */
    padding: 20px;
    margin-bottom: 20px;
    background-color: #63b2ba;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
        width: 35%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
    }

    p {
        margin: 0;
        color: #000000;
    }
}