.faq-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.faq-section h2 {
    text-align: center;
}

.accordion {
    border-top: 1px solid #6e9199;
}

.accordion-item {
    border-bottom: 1px solid #709ba2;
}

.accordion-btn {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #5f838a;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-btn:hover {
    background-color: #79bc8d;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}